html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);  
}

html[data-theme='light'] {
    --button-text-color: #000;
    --button-background-color: transparent;
    --button-border-color: #000;

    --text-color: #000;
    --background-color: #f2f2f2;
  }

html[data-theme='dark'] {
    --button-text-color: #fff;
    --button-background-color: transparent;
    --button-border-color: #fff;

    --text-color: #fff;
    --background-color: #333;
}

